@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView
@import org.iatoki.judgels.sealtiel.forms.LoginForm
@import org.iatoki.judgels.sealtiel.controllers.routes

@(form: Form[LoginForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

<div class="row login-content">
    <div class="col-md-12">
        @formErrorView(form)

        @b3.form(routes.ApplicationController.postLogin()) {
            @helper.CSRF.formField

            @b3.text(form("username"), '_label -> Messages.get("auth.field.username"))
            @b3.password(form("password"), '_label -> Messages.get("auth.field.password"))
            @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.auth.button.logIn") }
        }
    </div>
</div>