@import play.i18n.Messages
@import org.iatoki.judgels.play.views.html.formErrorView

@import org.iatoki.judgels.sealtiel.Client
@import org.iatoki.judgels.sealtiel.forms.ClientForm
@import org.iatoki.judgels.sealtiel.controllers.routes

@(client: Client, clientEditForm: Form[ClientForm])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-3", "col-md-9") }

@formErrorView(clientEditForm)

@b3.form(routes.ClientController.postEditClient(client.getId)) {
    @helper.CSRF.formField

    @b3.text(clientEditForm("name"), 'class -> "form-control", '_label -> Messages.get("client.field.name"))

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.button.save") }
}
