@(client: org.iatoki.judgels.sealtiel.Client, listClients: List[org.iatoki.judgels.sealtiel.Client], acquaintances: List[org.iatoki.judgels.sealtiel.Client])

<h1><i class="fa fa-desktop"></i> @client.getName</h1>
<hr>
<div class="row">
	@helper.form(action = org.iatoki.judgels.sealtiel.controllers.routes.ClientController.addClientAcquaintance(client.getId)) {
		<div class="col-md-3">
			<select name="acquaintance" class="form-control">
				@for(client <- listClients) {
					<option value="@client.getClientJid">@client.getName (@client.getAdminEmail)</option>
				}
			</select>
		</div>
		<div class="col-md-9">
			<button type="submit" class="btn btn-warning">Add</button>
		</div>
	}
</div>

<h3><i class="fa fa-tasks"></i> channel</h3>
<hr>
<div class="table-responsive">
	<table class="table table-hover table-condensed table-bordered">
		<tr>
			<th>Channel</th>
			<th>Name</th>
			<th></th>
		</tr>
		@for(acquaintance <- acquaintances) {
			<tr>
				<td>@acquaintance.getClientJid</td>
				<td>@acquaintance.getName</td>
				<td>
					<a href="@org.iatoki.judgels.sealtiel.controllers.routes.ClientController.removeClientAcquaintance(client.getId, acquaintance.getClientJid)"><i class="fa fa-times"></i> Remove</a>
				</td>
			</tr>
		}
	</table>
</div>

