@(client: org.iatoki.judgels.sealtiel.Client, clients: List[org.iatoki.judgels.sealtiel.Client], acquaintances: List[org.iatoki.judgels.sealtiel.Client])

@import play.i18n.Messages
@import org.iatoki.judgels.sealtiel.controllers.routes
@import b3.inline.fieldConstructor

<h3>@Messages.get("acquaintance.add")</h3>

@b3.form(routes.ClientController.addClientAcquaintance(client.getId)) {
    <div class="form-group">
        <label class="control-label col-md-6">@Messages.get("acquaintance.acquaintance")</label>
        <div class="col-md-6">
            <select name="acquaintance" class="form-control">
                @for(acq <- clients) {
                    <option value="@acq.getJid">@acq.getName</option>
                }
            </select>
        </div>
    </div>

    @b3.submit('class -> "btn btn-primary") { @Messages.get("commons.add") }
}

<hr />

<h3>@Messages.get("acquaintance.acquaintances")</h3>
<div class="table-responsive">
	<table class="table table-hover table-condensed table-bordered">
		<tr>
			<th>@Messages.get("acquaintance.name")</th>
			<th>@Messages.get("acquaintance.jid")</th>
			<th></th>
		</tr>
		@for(acquaintance <- acquaintances) {
			<tr>
				<td>@acquaintance.getName</td>
                <td>@acquaintance.getJid</td>
                <td>
					<a href="@routes.ClientController.removeClientAcquaintance(client.getId, acquaintance.getJid)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
				</td>
			</tr>
		}
	</table>
</div>

